html {
  font : 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  height : 100%;
}

body {
  margin : 0;
  height : 100%;
  position : absolute;
}

code {
  white-space : pre;
  width : 100%;
  overflow : auto;
}

textarea {
  float : left;
  height : 100%;
  padding : 30px;
  margin : 0;
  border : 0;
  font-family : monospace;
  box-sizing : border-box;
  background-color : lightyellow;
  width : 39%;
  border-right : 5px solid lightgoldenrodyellow;
}

textarea:focus {
  outline : 0;
}

#output {
  overflow : auto;
  height : 100%;
  padding-top : 10px;
  padding-right : 80px;
  padding-left : 80px;
  box-sizing : border-box;
  border-left : 1px solid rgba(218, 165, 32, 0.12);
}

#output img {
  max-width : 100%;
}
